@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Strava Segment Explorer</h1>
    <br />
    <div class="container-fluid"
    <p>This web app is for <a href="https://www.strava.com/">Strava</a> users who would like to gain some insights into their segment performance.</p>
    <br />
    <p>Currently, it's not possible to identify how close you are to a segment leaderboard through the Strava website or app. This web app addresses that gap.</p>
    </div>
</div>

