@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to Strava Segment Explorer</h1>

<div class="container-fluid mt-5">
<h4>About</h4>
<p class="mt-1">This web app is for Strava users who would like to gain some insights into their segment performance, or compare their activities to common milestones.</p>
<p>Currently, it's not possible to identify how close you are to a segment leaderboard through the Strava website or app, or compare your times
    against milestone distanced, such as 5km or Marathon. This web app addresses that gap, by combining and filtering your activity data.</p>
</div>

<div class="mt-5">
    <h4>Getting Started</h4>
    <ol>
        <li>Register an account</li>
        <li>Go to your Profile, and connect to your Strava account</li>
        <li>Filter the Leaderboard to see your activity data</li>
    </ol>
    </div>


