
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connection Success</title>
</head>
<body>
    <p>Connection success</p>
</body>
</html>
