
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAccessToken</title>
</head>
<body>
    <p>Access Token Success</p>
</body>
</html>
