
@{
    ViewData["Title"] = "Milestone";
}

@{
    bool isStravaConnected = (bool)ViewData["IsStravaConnected"];
}

<h1>Milestones</h1>

@{
    ViewData["Title"] = "Segments";

    if (!isStravaConnected)
    {
        <p>Visit your profile to connect to Strava</p>
    }

}