@using StravaSegmentExplorerUI.Controllers;

@{
    bool isStravaConnected = (bool)ViewData["IsStravaConnected"];
}
<h1>Segments</h1>
@{
    ViewData["Title"] = "Segments";

    if(!isStravaConnected)
    {
        <p>Visit your profile to connect to Strava</p>
    }

}

